html {
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, white 0%, rgb(255, 152, 204) 20%, rgb(165, 65, 165) 70%, white 125%);
}

h1 {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.continer {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.card {
  height: 100px;
  width: 100px;
background-color: blueviolet;
border-radius: 15px;
display: grid;
place-items: center;
cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
height: 100px;
width: 100px;
opacity: 0;
}